.track {
  background-color: white;
  width: 100%;
  height: 100%;

  .option {
    padding: 1.5em 0;
    width: 50%;
  }

  .yes-no {
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .yes {
    display: flex;
    justify-content: center;
    background-color: #252725;
    cursor: pointer;
    color: white;
  }

  .no {
    display: flex;
    justify-content: center;
    background-color: rgb(139, 0, 19);
    color: white;
    cursor: pointer;
  }

  .title {
    font-size: 30px;
    font-family: Amaranth, sans-serif;
    font-weight: 200;
    padding-left: 0.5em;
    text-transform: capitalize;
  }
  .text {
    font-size: 20px;
    padding-left: 1.5em;
  }
  .subtext {
    font-size: 22px;
    font-style: italic;
  }
}
