.container {
    padding: 2em;
}

.track-check {
    padding: 0.4em 0em;
    margin-bottom: 0.5em;
    width: 100%;
    font-size: 22px;
    background-color: white;
    cursor: pointer;
}

.track-list-title {
    margin-bottom: 1.4em;
}

a {
    text-transform: capitalize;
    padding-left: 1em;
    color: black;
    text-decoration: none;
}

a:hover 
{
     color:black; 
     text-decoration:none; 
     cursor:pointer;  
}