@import url("https://fonts.googleapis.com/css?family=Amaranth|Raleway|Gochi+Hand&display=swap");

html,
body,
#root,
.single-page-app {
  margin: 0;
  width: 100%;
  font-weight: 16px;
  font-family: "Raleway", sans-serif;
  background-color: rgb(240, 240, 240);
}

html,
#root,
.single-page-app {
  height: 100%;
}

.menu {
  display: contents;
}

body {
  height: calc(100% - 60px);
}

.page {
  height: 100%;
  padding: 1em;
  background-color: white;
}

.logo-icon {
  font-size: 30px;
  padding: 0 15px;
}

nav p {
  font-size: 20px;
}

nav {
  top: 0;
  display: flex;
  align-items: center;

  height: 60px;
  width: 100%;
  position: fixed;

  background-color: #276fbf;
  color: white;

  text-align: center;
  vertical-align: middle;
}

nav img {
  height: 15px;
  width: 100px;
}

nav ul {
  width: 50%;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}
nav li {
  margin: 0 3%;
}

nav a,
nav a:visited,
nav a:focus,
nav a:hover,
nav a:active {
  color: inherit;
  text-decoration: none;
}

img {
  border: none;
  max-width: 100%;
  vertical-align: middle;
}

.single-page-app {
  margin-top: 60px;
}

.app-name {
  font-family: "Gochi Hand", cursive;
  font-size: 40px;
}

h3 {
  margin: 15px 0;
}

h1 {
  font-size: 1.6em;
}
//DCEDFF
//BB0A21
//252627
//276FBF
//FED18C
